#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.hub-container {
  font-family: 'Arial', sans-serif;
  padding: 20px;
  /* background-color: #f0f0f0;  giving a light gray background for contrast */
  height: 100vh;  /* this makes the container fill the viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.login-container {
    background-color: #ffffff;  
  padding: 20px;
  color: black;
  border-radius: 10px;  /* rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* a subtle shadow for a lifted look */
  width: 80%;  /* or any desired width, adjust as needed */
  max-width: 500px;  /* a maximum width so it doesn't get too wide on large screens */
}

.hub-header {
  display: flex;
  align-items: center;
}

.hub-header img {
  width: 50px;
  margin-right: 10px;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

.features {
  display: flex;
  margin-top: 20px;
  color: #000;
}

.feature {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #000;
}

.feature img {
  width: 30px;
}

button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #555;
}

.logout-button {
  background-color: #f00;
}

.continue-button {
  margin-top: 20px;
}
